.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# 保留必要的 node_modules
node_modules/**
!node_modules/sharp/**
!node_modules/sharp/build/**
!node_modules/sharp/vendor/**
!node_modules/sharp/lib/**
